  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon (click)="drawer.toggle()">menu icon</mat-icon>
    </button>
    <span class="ml-lg-3">{{title}}</span>
    <span class="space-provider"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>


  <mat-drawer-container class="mat-container" [hasBackdrop]="hasBackDrop">
      <mat-drawer #drawer [mode]="mode">


        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <!-- This is the tree node template for leaf nodes -->

          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>

            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button>{{node.name}}</button>
          </mat-tree-node>

          <!-- This is the tree node template for expandable nodes -->

          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'Toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">

                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}

              </mat-icon>
            </button>
            {{node.name}}
          </mat-tree-node>
        </mat-tree>

      </mat-drawer>
      <mat-drawer-content>
        <!-- <mat-form-field>
          <mat-label>Sidenav mode</mat-label>
            <mat-select #mode value="over">
              <mat-option value="side">Side</mat-option>
              <mat-option value="over">Over</mat-option>
              <mat-option value="push">Push</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Has backdrop</mat-label>
          <mat-select #hasBackdrop>
            <mat-option>Unset</mat-option>
            <mat-option [value]="true">True</mat-option>
            <mat-option [value]="false">False</mat-option>
          </mat-select>
        </mat-form-field> -->
      </mat-drawer-content>
  </mat-drawer-container>
