<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon (click)="drawer.toggle()">menu icon</mat-icon>
  </button>
  <span class="ml-lg-3">{{title}}</span>
  <span class="space-provider"></span>
  <button mat-icon-button matTooltip="Sign Out or Change your Password"
      matTooltipPosition="before"
       [matMenuTriggerFor]="menu">
    <mat-icon>open_in_new</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="changePassword()">
      <mat-icon color="primary">supervised_user_circle</mat-icon>Change Password
    </button>
    <button mat-menu-item (click)="signOut()">
      <mat-icon color="accent">logout</mat-icon>Sign Out
    </button>
  </mat-menu>
</mat-toolbar>
<mat-drawer-container class="mat-container" [hasBackdrop]="false">
  <mat-drawer #drawer mode="over" opened>
      <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>


<!-- <mat-form-field>
          <mat-label>Sidenav mode</mat-label>
            <mat-select #mode value="over">
              <mat-option value="side">Side</mat-option>
              <mat-option value="over">Over</mat-option>
              <mat-option value="push">Push</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Has backdrop</mat-label>
          <mat-select #hasBackdrop>
            <mat-option>Unset</mat-option>
            <mat-option [value]="true">True</mat-option>
            <mat-option [value]="false">False</mat-option>
          </mat-select>
        </mat-form-field> -->
