*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
mat-toolbar{
  position: sticky;
  display: flex;
  justify-content: space-between;
}
.mat-container
{
  width: 100%;
  height: 100%;
  border: 0;
  background: none;
}
mat-drawer
{
  width :20%;
  background: mintcream;
}
mat-drawer-content {
  padding:0;
  left:20%;
  width: 80%;
  height: 100%;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
