
.mat-container
{
  width: 100%;
  height: 91vh;
  border: 0;
  background: none;
}
mat-drawer
{
  width :20%;
  background: mintcream;
}
mat-drawer-content {
  padding:2% 0;
  position: relative;
  display: flex;
  flex-direction: column;
  left: 21%;
}
