<body>
  <mat-toolbar>
    <h2><strong>Book Here </strong>!</h2>
  </mat-toolbar>
  <div class="form-content">
    <mat-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="bookingForm" label="Enter Details ">
        <mat-card class="mat-typography">
          <form [formGroup]="bookingForm">
            <div class="row">
              <div class="col col-md-3 px-2">
                <mat-form-field appearance="fill">
                  <mat-label>From</mat-label>
                  <mat-select
                    formControlName="start"
                    disableOptionCentering
                    panelClass="myPanelClass"
                    (selectionChange)="getDestination();getDetails()"
                  >
                    <mat-option>None</mat-option>
                    <mat-option
                      *ngFor="let board of from.results"
                      value="{{ board.start }}"
                      >{{ board.start }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      bookingForm.controls.start.touched &&
                      bookingForm.controls.start.invalid
                    "
                  >
                    <span *ngIf="bookingForm.controls.start.errors.required">
                      This field is mandatory
                    </span>
                    <span *ngIf="bookingForm.controls.start.errors.pattern">
                      This field is Invalid
                    </span>
                    <span
                      *ngIf="
                        bookingForm.value['start'] != '' &&
                        bookingForm.value['end'] &&
                        bookingForm.value['start'] === bookingForm.value['end']
                      "
                    >
                      Boarding & Destination Cannot be Same
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col col-md-3 px-2">
                <mat-form-field appearance="fill">
                  <mat-label>Drop To</mat-label>
                  <mat-select
                    formControlName="end"
                    disableOptionCentering
                    panelClass="myPanelClass"
                    (selectionChange)="getDetails()"
                  >
                    <mat-option>None</mat-option>
                    <mat-option
                      *ngFor="let dest of to"
                      value="{{ dest.end }}"
                      >{{ dest.end }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      bookingForm.controls.end.touched &&
                      bookingForm.controls.end.invalid
                    "
                  >
                    <span *ngIf="bookingForm.controls.end.errors.required">
                      This field is mandatory
                    </span>
                    <span *ngIf="bookingForm.controls.end.errors.pattern">
                      This field is Invalid
                    </span>
                    <span
                      *ngIf="
                        bookingForm.value['start'] == bookingForm.value['end']
                      "
                    >
                      Boarding & Destination Cannot be Same
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col col-md-3 px-2">
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput type="text" formControlName="name" />
                  <mat-error
                    *ngIf="
                      bookingForm.controls.name.touched &&
                      bookingForm.controls.name.invalid
                    "
                  >
                    <span *ngIf="bookingForm.controls.name.errors.required">
                      This field is mandatory
                    </span>
                    <span *ngIf="bookingForm.controls.name.errors.pattern">
                      This field is Invalid
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col col-md-3 px-2">
                <mat-form-field appearance="outline">
                  <mat-label>Age</mat-label>
                  <input
                    matInput
                    type="number"
                    formControlName="age"
                    min="4"
                    max="60"
                    step="1"
                  />
                  <mat-error
                    *ngIf="
                      bookingForm.controls.age.touched &&
                      bookingForm.controls.age.invalid
                    "
                  >
                    <span *ngIf="bookingForm.controls.age.errors.required">
                      This field is mandatory
                    </span>
                    <span *ngIf="bookingForm.controls.age.errors.pattern">
                      This field is Invalid
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col col-md-3 pt-3">
                <mat-label>Gender : </mat-label>
                <mat-radio-group formControlName="gender">
                  <mat-radio-button [checked]="true" value="M">M</mat-radio-button>
                  <mat-radio-button value="F">F</mat-radio-button>
                  <mat-radio-button value="T">T</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col col-md-3 px-2">
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" type="email" />
                  <mat-error
                    *ngIf="
                      bookingForm.controls.email.touched &&
                      bookingForm.controls.email.invalid
                    "
                  >
                    <span *ngIf="bookingForm.controls.email.errors.required">
                      This field is mandatory
                    </span>
                    <span *ngIf="bookingForm.controls.email.errors.pattern">
                      This field is Invalid
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col col-md-3 px-2">
                <mat-form-field appearance="outline">
                  <mat-label>Phone/WhatsApp</mat-label>
                  <input
                    matInput
                    type="text"
                    type="number"
                    maxlength="10"
                    formControlName="phone"
                  />
                  <mat-error
                    *ngIf="
                      bookingForm.controls.phone.touched &&
                      bookingForm.controls.phone.invalid
                    "
                  >
                    <span *ngIf="bookingForm.controls.phone.errors.required">
                      This field is mandatory
                    </span>
                    <span *ngIf="bookingForm.controls.phone.errors.pattern">
                      This field is Invalid
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col col-md-3 px-2">
                <mat-form-field appearance="fill">
                  <mat-label>Choose Date</mat-label>
                  <input
                    matInput
                    formControlName="date"
                    [matDatepicker]="picker"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col col-md-3 px-2">
                <mat-form-field appearance="outline">
                  <mat-label>Vehicle No</mat-label>
                  <input
                    matInput
                    formControlName="vehicle"
                    type="text"
                    readonly
                    [value]="vehicle"
                  />
                </mat-form-field>
              </div>
              <div class="col col-md-3 px-2">
                    <mat-form-field appearance="outline">
                      <mat-label>Driver Id</mat-label>
                      <input
                        matInput
                        formControlName="driver"
                        [value]="driver + '-' + driverName"
                        readonly
                      />
                    </mat-form-field>
                  </div>
                  <div class="col col-md-3 px-2">
                    <mat-form-field appearance="outline">
                      <mat-label>Fare</mat-label>
                      <input
                        matInput
                        formControlName="fare"
                        type="number"
                        [value]="fare"
                        readonly
                      />
                    </mat-form-field>
                  </div>
                </div>
            <div class="row">
              <div class="col text-center">
                <mat-card-actions>
                  <button
                    type="button"
                    class="w-25 mx-2"
                    mat-flat-button
                    color="primary"
                    (click)="add()"
                    [disabled]="!(bookingForm.valid && bookingForm.dirty)"
                  >
                    Add
                  </button>
                  <button
                    type="reset"
                    class="w-25 mx-2"
                    mat-flat-button
                    color="accent"
                  >
                    Clear
                  </button>
                </mat-card-actions>
              </div>
            </div>
          </form>
        </mat-card>
      </mat-step>
      <mat-step label="Confirm Booking">
        <mat-card class="mat-typography">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Boarding</th>
                  <th>Destination</th>
                  <th>Transport No</th>
                  <th>Fare</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of tableData">
                  <td>{{ data.name }}</td>
                  <td>{{ data.start }}</td>
                  <td>{{ data.end }}</td>
                  <td>{{ data.vehicle }}</td>
                  <td>{{ data.fare }}</td>
                  <td>{{ data.date }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col text-center">
              <mat-card-actions>
                <button
                  type="button"
                  class="w-25 mx-2"
                  mat-flat-button
                  color="primary"
                  (click)="BookData()"
                  [disabled]="!(tableData.length > 0)"
                >
                  Book Now
                </button>
                <button
                  type="reset"
                  class="w-25 mx-2"
                  mat-flat-button
                  color="accent"
                  (click)="clear()"
                >
                  Clear
                </button>
              </mat-card-actions>
            </div>
          </div>
        </mat-card>
      </mat-step>
    </mat-stepper>
  </div>
</body>
