/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body{
  background: url("https://img.freepik.com/premium-vector/green-flow-wavy-lines-green-transparent-wave-background-brochure-website-flyer-design-transparent-smooth-wave_206325-985.jpg") ;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


.space-provider
{
  flex: 1 1 auto;
}

.error-snackbar
{
  margin: 0 auto;
  background-color: red;
  color: white;
  font-weight: bold;
}

.success-snackbar
{
  margin: 0 auto;
  background-color: green;
  color: white;
  font-weight: 200;
}
.title-center {
  margin: 0 auto;
}
mat-form-field
{
  display: flex;
  flex-direction: column;
}
mat-toolbar-row
{
  text-align: center;
}
