<mat-toolbar color="warn">
    <mat-toolbar-row fxLayout="row">
      <span class="text-center">Change Password</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content>
  <form [formGroup]="formData">
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>
       New Password
      </mat-label>
      <input matInput formControlName="newPassword" [type]="hide ? 'password' : 'text'" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="formData.controls.newPassword.touched && formData.controls.newPassword.invalid">
        <span *ngIf="formData.controls.newPassword.errors.required">
          This field is mandatory
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>
       Confirm New Password
      </mat-label>
      <input matInput formControlName="confirmNewPassword"  [type]="hide ? 'password' : 'text'" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="formData.controls.confirmNewPassword.touched && formData.controls.confirmNewPassword.invalid">
        <span *ngIf="formData.controls.confirmNewPassword.errors.required">
          This field is mandatory
        </span>
        </mat-error>
        <mat-hint>
          <span *ngIf="validatePassword() && !(formData.controls.confirmNewPassword.invalid)">
            Password does not match
          </span>
        </mat-hint>
    </mat-form-field>
</form>

</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" type="submit" (click)="changePassword()"
  [disabled]="!(formData.dirty && formData.valid && !validatePassword() )">
    Change Password
  </button>
  <button mat-raised-button color="warn" mat-dialog-close>
    Close
  </button>
</mat-dialog-actions>
